.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer p {
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}

.footerLink {
    color: #ff6347;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footerLink:hover {
    color: #fafafa;
}

.heart {
    color: #ff6347;
    font-size: 18px;
}